## This notebook combines a local directory of separate files containing trap data and combines them into a single file.

#### Import the necessary python packages

In [1]:
import os
import glob
import pandas as pd

#### Generate a list of filenames from that directory, note that all the names end in the year the data are taken from.

In [5]:
os.chdir("/Users/Douglas/Dropbox/Current Activities/Research/Gypsy Moths/trap_coords")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.DataFrame()

#### Combine all the files contained in the list of files

In [6]:
for i in all_filenames:
    temp = pd.read_csv(i)
    yr = i[:-4]
    yr = yr[-4:]
    temp['year'] = yr
    combined_csv = combined_csv.append(temp, ignore_index=True)
combined_csv = combined_csv.sort_values(by=['year'], ignore_index=True)
combined_csv

           POINT_X    POINT_Y  count  year
0       -78.349984  35.395156      0  1988
1       -81.043286  35.265153      0  1988
2       -81.019992  35.288449      0  1988
3       -81.059996  35.291753      0  1988
4       -81.079981  35.288451      0  1988
...            ...        ...    ...   ...
3021792 -83.376008  40.082736      0  2019
3021793 -83.407256  40.086289      0  2019
3021794 -83.452638  40.078905      0  2019
3021795 -83.142491  40.089619      0  2019
3021796 -81.850770  40.304239      5  2019

[3021797 rows x 4 columns]

#### The data contain trap X/Y coords, trap counts and the year they were collected.

#### Write the file to a .csv

In [7]:
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')