## This notebook combines a local directory of separate files containing trap data and combines them into a single file.

#### Import the necessary python packages

In [8]:
import os
import glob
import pandas as pd

#### Generate a list of filenames from that directory, note that all the names end in the year the data are taken from.

In [10]:
os.chdir("/Users/Douglas/Dropbox/Current Activities/Research/Lymantria/trap_coords")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.DataFrame()

#### Combine all the files contained in the list of files

In [11]:
for i in all_filenames:
    temp = pd.read_csv(i)
    yr = i[:-4]
    yr = yr[-4:]
    temp['year'] = yr
    combined_csv = combined_csv.append(temp, ignore_index=True)
combined_csv = combined_csv.sort_values(by=['year'], ignore_index=True)
combined_csv

           POINT_X    POINT_Y  count  year
0       -77.573289  34.765168      0  1988
1       -80.946690  35.961736      0  1988
2       -80.989989  35.965142      0  1988
3       -80.949982  35.991735      0  1988
4       -81.026687  35.721742      0  1988
...            ...        ...    ...   ...
6043589 -90.505752  39.829559      0  _csv
6043590 -90.434154  39.826672      0  _csv
6043591 -90.387561  39.842982      0  _csv
6043592 -90.522325  39.750386      0  _csv
6043593 -86.742834  38.862547      0  _csv

[6043594 rows x 4 columns]

#### The data contain trap X/Y coords, trap counts and the year they were collected.

#### Write the file to a .csv, which is written to the same directory the trap coordinate files are read from. A copy of this is available on the github repository.

In [13]:
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')